Package: python3
Version: 3.7.3-1
Depends: libffi, openssl
Architecture: x64-windows
Multi-Arch: same
Abi: 88abae3267794029d095148543a2154009907e9e
Description: The Python programming language as an embeddable library
Type: Port
