<tr><td colspan = '2' align='center'> ParamFlash: </td></tr>
<tr><td>total_length </td><td> %1</td></tr>
<tr><td>telemetry_speed </td><td> %2</td></tr>
<tr><td>telemetry_resolution </td><td> %3</td></tr>
<tr><td>gk_dac_set_value </td><td> %4</td></tr>
<tr><td>gk_dac_min_value : %5</td></tr>
<tr><td>gk_dac_max_value </td><td> %6</td></tr>
<tr><td>extern_adc_temperature_config </td><td> %7</td></tr>
<tr><td>extern_adc_temperature_2_config </td><td> %8</td></tr>
<tr><td>extern_adc_pcorr_config </td><td> %9</td></tr>
<tr><td>extern_adc_pbw_config </td><td> %10</td></tr>
<tr><td>extern_adc_locator_config </td><td> %11</td></tr>
<tr><td>extern_adc_accel_config </td><td> %12</td></tr>
<tr><td>extern_adc_temperature_4_config </td><td> %13</td></tr>
<tr><td>reserve </td><td> %14</td></tr>
<tr><td>temperature_volatile </td><td> %15</td></tr>
<tr><td>temperature_maximum </td><td> %16</td></tr>
<tr><td>gk_dac_temperature_volatile </td><td> %17</td></tr>
<tr><td>gk_dac_temperature_maximum </td><td> %18</td></tr>
<tr><td>reserve </td><td> %19</td></tr>
<tr><td>reserve </td><td> %20</td></tr>
<tr><td>extern_adc_locator_offset </td><td> %21</td></tr>
<tr><td>crc16 </td><td> %22</td></tr>