<tr><td colspan = '2' align='center'> ParamFlash: </td></tr>
<tr><td>total_length </td><td> %1</td></tr>
<tr><td>sensors_number </td><td> %2</td></tr>
<tr><td>channel_coefficients </td><td> %3</td></tr>
<tr><td>head_to_sensor_length </td><td> %4</td></tr>
<tr><td>startup_mode </td><td> %5</td></tr>
<tr><td>hardware_swap_channels </td><td> %6</td></tr>
<tr><td>hardware_invert_channels </td><td> %7</td></tr>
<tr><td>acoustics_startup_channels </td><td> %8</td></tr>
<tr><td>acoustics_startup_adc_time </td><td> %9</td></tr>
<tr><td>acoustics_startup_period </td><td> %10</td></tr>
<tr><td>acoustics_start_offset </td><td> %11</td></tr>
<tr><td>acoustics_gain </td><td> %12</td></tr>
<tr><td>acoustics_gain_off_words </td><td> %13</td></tr>
<tr><td>acoustics_preconversion_pause </td><td> %14</td></tr>
<tr><td>generator_wait_interval </td><td> %15</td></tr>
<tr><td>noisemeter_startup_channels </td><td> %16</td></tr>
<tr><td>noisemeter_startup_words </td><td> %17</td></tr>
<tr><td>noisemeter_startup_freq </td><td> %18</td></tr>
<tr><td>noisemeter_warm_cycles </td><td> %19</td></tr>
<tr><td>noisemeter_window_fuction </td><td> %20</td></tr>
<tr><td>noisemeter_smooth_number </td><td> %21</td></tr>
<tr><td>noisemeter_gain </td><td> %22</td></tr>
<tr><td>noisemeter_gain_off_words </td><td> %23</td></tr>
<tr><td>noisemeter_preconversion_pause </td><td> %24</td></tr>
<tr><td>part_max_size </td><td> %25</td></tr>
<tr><td>movement_variance_limit </td><td> %26</td></tr>
<tr><td>variance_settle_period </td><td> %27</td></tr>
<tr><td>bus_survey </td><td> %28</td></tr>
<tr><td>reserve </td><td> %29</td></tr>
<tr><td>crc16 </td><td> %30</td></tr>